* {
  margin: 0;
  padding: 0;
}

html {
  --s: 190px; /* control the size */
  --c: #41b65a; /* first color */
  --_g: #f0030300 52%,var(--c) 54% 57%,#c81fba00 59%;
  background: 
  radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
  radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
  radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
  radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
   #1d85e6; /* second color */
  background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 70px;
  background-color: rgba(123, 255, 141, 0.743);
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 2px;
  border: 2px solid #ff009d;
  box-shadow: 0 0 5px #41b65a, 0 0 20px #41b65a, 0 0 40px #41b65a;
}

html,
body {
  height: 100%;
}
body {
  height: 100vh;
  width: 100vw;
/* align-items: center;
justify-content: center; */
  margin: 0;
/*     background: #333;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.container {
  /* font-family: 'Nova Oval', cursive; */
  max-width: 75vmin;
  max-height: 75vmin;
  width: 100%;
  border: 5px solid black;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 10px #ff009d, 0 0 30px #ff009d, 0 0 70px #ff009d;
}

#menu,
#map {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
}
#menu {
  background: rgb(255, 0, 157);
}
.menu-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-text {
  font-family: 'Nova Oval', cursive;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  color: black;
}
.pixel {
  width: 10%;
  padding-bottom: 10%;
  float: left;
}
.snake-body {
  z-index: 5;
  background-color: rgb(73, 73, 246);
  position: relative;
  border: 3px black;
  box-shadow: 0 0 7px #00ff00, 0 0 20px #00ff00;
  border-radius: 20% / 50%;
}
.food {
  background: #00ff00;
  /* border:3px #00ff00 solid; */
  border-radius: 50% / 50%;
  box-shadow: 0 0 10px #ff009d, 0 0 40px #ff009d, 0 0 80px #ff009d;
}

footer {
  /* margin: 0 auto; */
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 2.5rem;
  font-family: 'Nova Oval', cursive;
  text-align: center;
  margin-top: auto;
}


/* 
body {
  background-image: /* tint image */
    /* linear-gradient(to right, #ea4fffe4, rgb(124, 206, 247)),
    linear-gradient(to right, #ad4fffe4 50%, white 50%),
    linear-gradient(to bottom, #ad4fffe4 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 4em 4em;
  height: 90vh;
  width: 90vw;
  /* align-items: center;
  justify-content: center; */
  /* margin: 0;
} */



/* main {
  display: flexbox;
  justify-content: space-between;
} */
/* 
.gridBoard {
align-items: center;
justify-content: center;
} */

/* .gameBoard {
  display: grid;
  width: 50vmin;
  height: 50vmin;
  margin: 0 auto;
  justify-content: center;
  background-color: white;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(15, 1fr);
  box-shadow: black 20px 10px 50px;
  border: 5px solid black;
} */

/* .snake {
  background-color: yellowgreen;
  border: .25vmin solid black;
} */

/* .food {
  background-color:blueviolet;
  border: .25vmin solid black;
} */

/* .gridContainer {
  display: grid;
  width: 25%;
  align-items: left;
  border: 2px solid black;
  background-color:blueviolet;
} */ 

/* .resetBtn {

} */

/* .btn {
  border: 2px solid black;
  background-color: yellowgreen;
  font-family: 'Nova Oval', cursive;
} */