* {
  margin: 0;
  padding: 0;
}

html {
  --s: 190px; /* control the size */
  --c: #41b65a; /* first color */
  --_g: #f0030300 52%,var(--c) 54% 57%,#c81fba00 59%;
  background: 
  radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
  radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
  radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
  radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
   #1d85e6; /* second color */
  background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Monoton', cursive;
  font-size: 70px;
  background-color: rgba(123, 255, 141, 0.743);
  margin: 20px;
  padding: 5px;
  border: 2px solid #ff009d;
  border-radius: 10px;
  box-shadow: 0 0 5px #41b65a, 0 0 20px #41b65a, 0 0 40px #41b65a;
  max-width: 1000px;
  text-align: center;
}

/* html,
body {
  height: 100%;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flexbox;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 75vmin;
  max-height: 75vmin;
  min-width: 300px;
  min-height: 300px;
  border: 5px solid black;
  border-radius: 5%;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #ff009d, 0 0 30px #ff009d, 0 0 70px #ff009d;
}

#menu,
#map {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
}

#menu {
  background: rgb(255, 0, 157);
}

.menu-item {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#menu-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  word-wrap: normal;
  padding: 10px;
  font-family: 'Nova Oval', cursive;
  font-size: 3.5vmin;
  text-align: center;
  line-height: 40px;
  color: black;
}

.pixel {
  width: 10%;
  padding-bottom: 10%;
  float: left;
}

.worm-body {
  z-index: 5;
  background-color: rgb(73, 73, 246);
  position: relative;
  border: 3px black;
  box-shadow: 0 0 7px #00ff00, 0 0 20px #00ff00;
  border-radius: 20% / 50%;
}

.food {
  background: #00ff00;
  border-radius: 50% / 50%;
  box-shadow: 0 0 10px #ff009d, 0 0 40px #ff009d, 0 0 80px #ff009d;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Nova Oval', cursive;
  color: black;
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}

a {
  color: black;
}